@media (max-height:700px){
  footer { position: static; }
  header { padding-top:10px; }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  /*text-align: center;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container{
  /*max-height: 80vh;*/
  margin: 15vh;
  padding: 15px;
  color: #282c34;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  min-width: 50vh;
  text-align: center;
  -webkit-box-shadow: 0 0 31px -7px rgba(0,0,0,1);
  -moz-box-shadow: 0 0 31px -7px rgba(0,0,0,1);
  box-shadow: 0 0 31px -7px rgba(0,0,0,1);
}
.login-footer{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-size: 3vh;
}
.login-footer .forgot{
  text-decoration: underline;
}
.login-footer .link{
  color: #282c34;
}

.detail-text{
  padding: 0;
  margin: -15px 0 15px 2px;
  display: flex;
  align-items: flex-end;
}
